/** ensure HTML5 support in browsers */
header, section, nav {
   display: block;
}

.masthead {
   background-color: #02c8a7;
   margin-bottom: 2em;
}
.button {
    background-color: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.answer
{
   padding: .1em;
   margin-left: 2em;
}
.cto-question,
.mc-question,
.mc-logic
{
   margin: .05em;
   padding: .05em;
   padding-left: 2em;
   border: 1px solid lightgrey;
   margin-bottom: 1em;
   padding-bottom: 2em;
}
.table
{
   border: 1px solid lightgrey;
   margin: -.5em;
}
.question_type {
   border: 1px solid lightgrey;
   padding: .5em;
   margin: .05em;
}
 .navi-buttons,
 .creation-buttons {
   margin-bottom: 0.5em;
 }
.username {
   margin-right= 0em;
}
/** body spacing from top of page */
.body {
   margin-top: 2em;
}

.featured-banner {
   color: #fff;
   background: #337ab7;
   margin-bottom: 2em;
   border-radius: 2%;
}

.searchbar {
   padding: .37em;
}
.tile-text {
   font-size: 2em;
}

.tile-subtext {
   font-size: 1em;
}

.my-face {
   max-width: 15em;
   max-height: 15em;
}
