/** ensure HTML5 support in browsers */
header, section, nav {
   display: block;
}

.masthead {
   background-color: #5cb85c;
   margin-bottom: 2em;
}
.button {
    background-color: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.questions {
   margin: 2em;
}
.cto-type-dropdown
{
  margin-bottom: -2.5px;
}

.answer,
{
   padding: .1em;
   margin-left: 2em;
}
.cto-table
{
   padding:1em;
}
.cto-value
{
   vertical-align: center;
}
.panel-default
{
   border: 1px solid lightgrey;
   margin: .5em;
}
.cto-question,
.mc-question,
.mc-logic
{
   margin: .05em;
   padding: .05em;
   padding-left: 2em;
   border: 1px solid lightgrey;
   margin-bottom: 1em;
   padding-bottom: 2em;
}
.
.question_type {
   border: 1px solid lightgrey;
   padding: .5em;
   margin: .05em;
}
 .navi-buttons,
 .creation-buttons {
   margin-bottom: 0.5em;
 }
.username {
   margin-right= 0em;
}
/** body spacing from top of page */
.body {
   margin-top: 2em;
}

.featured-banner {
   color: #fff;
   background: #00ff00
   margin-bottom: 2em;
   border-radius: 2%;
}

.searchbar {
   padding: .37em;
}
.tile-text {
   font-size: 2em;
}

.tile-subtext {
   font-size: 1em;
}

.my-face {
   max-width: 15em;
   max-height: 15em;
}
<<<<<<< HEAD
.cto-al-table
{
  padding-top: 5px;
}
.table-user, .table
{
  margin-right: 20px;
  border: 1px solid lightgrey;
}
=======

.right-align {
   float: right;
}

.thinner {
   padding: 7px;
}

#accordion1 {
   margin-bottom: 10px;
}
>>>>>>> 1314b788d6948ea8b4b0df0ce3b4a41003283b66
